<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>
<p>
  <strong>Detail:</strong>
  <%= @book.detail %>
</p>
<p>
  <%= image_tag @book.image if @book.image.attached? %>
</p>

<p>Review From</p>
 <%= form_with(model: @book_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :review %>
     <%= form.hidden_field :book_id, :value => @book.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
 <% end %>
 
 <p>Review List</p>
  <ul>
    <% @book.book_review.each do |book_review|%>
      <li><%= book_review.review %>
      (<i><%= book_review.user_id %></i>)</li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
