<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <%= link_to "ホーム", root_url %><br />
        <% if user_signed_in? %>
            こんにちは、<%= current_user.email %><br />
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <br />
      <% else %>
        <%= link_to "サインイン", new_user_session_path %>
        <%= link_to "ユーザ登録", new_user_registration_path %>
      <% end %>
      </header>
     <main>
        <%= yield %>
     </main>

  </body>
</html>
